<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/style.css">

</head>
<body>
<div class="w3-container" id="background">
    <div th:insert="~{navbar}"></div>
    <div class="w3-row w3-margin">
        <div class="w3-col l6 w3-grey w3-center">
            <h3>Recipes</h3>
            <div class="w3-card w3-margin">
                <img src="/images/recipes.png" alt="Lights" style="width:100%;max-width:400px">
                <footer class="w3-container w3-green">
                    <h4>recipes</h4>
                </footer>
            </div>
        </div>
        <div class="w3-col l6 w3-grey w3-center">
            <h3>Ingredients</h3>
            <div class="w3-card w3-margin">
                <img src="/images/ingredients.png" alt="Lights" style="width:100%;max-width:400px">
                <footer class="w3-container w3-green">
                    <h4>ingredients</h4>
                </footer>
            </div>
        </div>
    </div>
</div>
</body>
</html>