<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/style.css">

</head>
<body>
<header class="w3-cell-row w3-green">
  <div id="title" class="w3-container w3-cell w3-grey" style="width:30vw; max-width:30vw">
    <h1 style="font-weight: bold"> <span th:text="${title}"></span> </h1>
  </div>
  <nav id="navigator" class="w3-container w3-cell">
    <div class="w3-cell-row">
      <div class="w3-cell">
        <a href="/allRecipes">Show all recipes</a>
      </div>
      <div class="w3-cell">
        <a href="/recipesForIngredients">Show recipes for ingredients</a>
      </div>
      <div class="w3-cell">
        <a href="/recipeForAuthor"> Show recipes for author</a>
      </div>
      <div class="w3-cell">
        <a href="/recipesByTypology">Show recipes for typology</a>
      </div>
    </div>
  </nav>
</header>
</body>
</html>