<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{navbar}" ></div>
<div class="w3-container" id="background">
    <div class="w3-row w3-margin">
        <form action="/recipesByTypology/findBy" method="GET">
            <table>
                <tr>
                    <th>Author's name: </th>
                    <th>Order by: </th>
                    <th> </th>
                </tr>
                <tr>
                    <td><input type="text" name="recipe_typology" placeholder="Typology"></td>
                    <td>
                        <label for="choice"></label>
                        <select id="choice" name="scelta">
                            <option value="blank">blank</option>
                            <option value="difficulty">difficulty</option>
                            <option value="time">time</option>
                        </select>
                    </td>
                    <td>
                        <input type="submit" value="submit">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:if="${invalidTypology}">
                            <span Style="color:red">No recipes with this type</span>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="w3-row w3-margin" >
        <div th:each="recipe : ${recipes}" class="w3-col l6 w3-grey w3-center">
            <h3><span th:text="${recipe.name}"></span></h3>
            <div class="w3-card w3-margin">
                <img src="/images/recipes.png" alt="Lights" style="width:100%;max-width:400px">
                <footer class="w3-container w3-green" style="height: 300px; max-height:300px">
                    <h4>Recipes Ingredients</h4>
                    <ul>
                        <li th:each="ingredient : ${recipe.getIngredients()}">
                            <span th:text="${ingredient.name}"></span>
                        </li>
                    </ul>
                    <div>
                        <table class="ingredientsTable">
                            <tr>
                                <th>Author:</th>
                                <th>Difficulty</th>
                                <th>Typology</th>
                                <th>Preparation Time:</th>
                            </tr>
                            <tr>
                                <td><span th:text="${recipe.getAuthor()}"></span></td>
                                <td><span th:text="${recipe.getDifficulty()}"></span></td>
                                <td><span th:text="${recipe.getType()}"></span></td>
                                <td><span th:text="${recipe.getTime()}"></span></td>
                            </tr>
                        </table>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
</body>
</html>